.bg-custom {
    background: linear-gradient(80.7deg, #DDA5FF 0%, #FFBCBC 53.29%, #FFC73B 102.74%);
    border-radius: 0px 0px 0px 737px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    height: 899px;
    position: relative;
    top: -120px;

}

.header-custom {
    background: -webkit-linear-gradient(180deg,
            #FF6C99,
            #A56DC7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}